---
import PriorityBadge from "./PriorityBadge.astro";

const { todo, index } = Astro.props;

import { api } from "../lib/api";

const { action } = Astro.params;

if (Astro.request.method === "DELETE") {
  try {
    const formData = await Astro.request.formData();
    const action = formData.get("action") as string;
    const id = formData.get("id") as string;

    if (!action || action !== "delete") {
      return;
    }

    await api.todos.delete(id);

    // Astro.redirect("/");
  } catch (error) {
    console.error("Error updating todo:", error);
  }
}

if (Astro.request.method === "PATCH") {
  try {
    const formData = await Astro.request.formData();
    const action = formData.get("action") as string;
    const id = formData.get("id") as string;

    if (!action || action !== "toggle") {
      return;
    }

    await api.todos.toggle(id);

    // Astro.redirect("/");
  } catch (error) {
    console.error("Error updating todo:", error);
  }
}
---

<div
  class={`group relative flex items-start gap-4 p-4 rounded-2xl border ${
    todo.completed
      ? "bg-zinc-900/40 border-zinc-800/50"
      : "bg-zinc-900/80 border-zinc-700/50"
  }`}
>
  <h1>action: {action}</h1>

  <form
    method="PATCH"
  >
    <input
      type="hidden"
      name="action"
      value="toggle"
    />

    <input
      type="hidden"
      name="id"
      value={todo.id}
    />

    <button
      type="submit"
      class="w-6 h-6 rounded-full border-2"
    >
      {todo.completed && "✓"}
    </button>
  </form>

  <div class="flex-1">

    <p
      class={
        todo.completed
          ? "line-through text-zinc-500"
          : "text-zinc-100"
      }
    >
      {todo.title}
    </p>

    {
      todo.description &&
      <p class="text-sm text-zinc-400 mt-1">
        {todo.description}
      </p>
    }

    <div class="flex items-center gap-2 mt-2">

      <PriorityBadge
        priority={todo.priority}
      />

      <span class="text-xs text-zinc-600">
        {
          new Date(
            todo.created_at
          ).toLocaleDateString("es-CO")
        }
      </span>

    </div>

  </div>

  <form
    method="DELETE"
  >
    <input
      type="hidden"
      name="action"
      value="delete"
    />

    <input
      type="hidden"
      name="id"
      value={todo.id}
    />

    <button
      type="submit"
      class="text-zinc-600 hover:text-rose-400"
    >
      Eliminar
    </button>
  </form>

</div>